<header
	class="flex items-center justify-between whitespace-nowrap border-b border-border-dark px-6 py-4 bg-background-dark/50 backdrop-blur-md sticky top-0 z-30">
	<div class="flex items-center gap-4 text-white">
		<div class="size-8 text-primary flex items-center justify-center">
			<span class="material-symbols-outlined text-3xl">eco</span>
		</div>
		<h2 class="text-lg font-bold leading-tight font-display tracking-tight">Avocado DataHub</h2>
	</div>

	<div class="flex flex-1 justify-end gap-8 items-center">
		<nav class="hidden md:flex gap-6 text-sm font-medium text-text-secondary-dark">
			<a class="hover:text-primary transition-colors cursor-pointer">Docs</a>
			<a class="hover:text-primary transition-colors cursor-pointer">Support</a>
			<a class="hover:text-primary transition-colors cursor-pointer">API</a>
		</nav>
		<div class="bg-center bg-no-repeat bg-cover rounded-full size-9 border border-border-dark bg-surface-dark">
			<span
				class="material-symbols-outlined text-text-secondary-dark flex items-center justify-center h-full">person</span>
		</div>
	</div>
</header>